<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter">
    </section>
    
  </configSections>
  
  <connectionStrings>
    <add name="BBConnectionString" connectionString="Data Source=DANISHIFTIKHAR\SQLEXPRESS;Initial Catalog=BB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="tempConnectionString" connectionString="Data Source=DANISHIFTIKHAR\SQLEXPRESS;Initial Catalog=temp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <appSettings>
    <add key="FolderPath" value="../website_images/sp_images/"/>
    <add key="connection_string_1" value="Data Source=DANISHIFTIKHAR\\SQLEXPRESS;Initial Catalog=temp;Integrated Security=True" />
  </appSettings>


  
  <system.web>

    
    
    <urlMappings enabled="true">
      <add url="~/Main.html" mappedUrl="~/Main.aspx"/>
      <add url="~/Default.html" mappedUrl="~/Default.aspx"/>

    </urlMappings>
    
<!--url mapping of specific path-->

    <sessionState mode="InProc" cookieless="false" timeout="80" />
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off" defaultRedirect="error.htm">
  
    </customErrors>
    
    <machineKey validationKey="DA9C0785B8BFEBBB2261105FEDEC24D783D7F26A" decryptionKey="83B07D249EA3C35EA43841964DB22ED6D8D3E1700060010418B59F99046D7B89" validation="SHA1" decryption="AES" />
  </system.web>
  
  <!--blew section is for webserver-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>

    <validation validateIntegratedModeConfiguration="false" />
    
    <defaultDocument enabled="true">
      <files>
        <add value="~/Main"/>
        <add value="Main.html"/>
      </files>
      
    </defaultDocument>  
  </system.webServer>
  <rewriter>

    <rewrite url="~/Main.aspx" to="~/Default.aspx"/>
      
    </rewriter>
  
  
  
</configuration>